doctype html
html(class={'fullpage': fullpage})
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/polygraph/css/site.css')
    block page-scripts
  body
    block content
