.polygraph {
  display: inline-block;

  &, > svg {
    height: 100%;
    width: 100%;
  }
}

.polygraph__node {
  stroke: #fff;
  fill: #666;
  stroke-width: 1.5px;
}

.polygraph__link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1.5px;
}
