.polygraph {
  &, > svg {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__node {
    &__circle {
      stroke: #fff;
      fill: #2c0;
      stroke-width: 3px;
    }

    &__text {
      text-anchor: middle;
      alignment-baseline: middle;
      cursor: default;
      font-family: sans-serif;
      font-weight: bold;
    }
  }

  &__link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 3px;
  }
}
